<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>CovidWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>InicioServlet</display-name>
    <servlet-name>InicioServlet</servlet-name>
    <servlet-class>inicioServlet.InicioServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InicioServlet</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>gestionPacientesServlet</display-name>
    <servlet-name>gestionPacientesServlet</servlet-name>
    <servlet-class>gestionPacientes.gestionPacientesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>gestionPacientesServlet</servlet-name>
    <url-pattern>/gestion_pacientes</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AltaPacienteServlet</display-name>
    <servlet-name>AltaPacienteServlet</servlet-name>
    <servlet-class>altaPacienteServlet.AltaPacienteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AltaPacienteServlet</servlet-name>
    <url-pattern>/alta-paciente</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BajaPacientesServlet</display-name>
    <servlet-name>BajaPacientesServlet</servlet-name>
    <servlet-class>bajaPacientesServlet.BajaPacientesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BajaPacientesServlet</servlet-name>
    <url-pattern>/eliminar-paciente</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModificarPacienteServlet</display-name>
    <servlet-name>ModificarPacienteServlet</servlet-name>
    <servlet-class>modificarPacienteServlet.ModificarPacienteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModificarPacienteServlet</servlet-name>
    <url-pattern>/modificar-paciente</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListadoUsuariosServlet</display-name>
    <servlet-name>ListadoUsuariosServlet</servlet-name>
    <servlet-class>listadoUsuariosServlet.ListadoUsuariosServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListadoUsuariosServlet</servlet-name>
    <url-pattern>/usuarios</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModificarPersonaForm</display-name>
    <servlet-name>ModificarPersonaForm</servlet-name>
    <servlet-class>modificarPacienteServlet.ModificarPersonaForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModificarPersonaForm</servlet-name>
    <url-pattern>/modificar-persona-form</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>enfermerosServlet</display-name>
    <servlet-name>enfermerosServlet</servlet-name>
    <servlet-class>enfermerosServlet.enfermerosServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>enfermerosServlet</servlet-name>
    <url-pattern>/enfermeros</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>pacientesEnfermeroServlet</display-name>
    <servlet-name>pacientesEnfermeroServlet</servlet-name>
    <servlet-class>enfermerosServlet.pacientesEnfermeroServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>pacientesEnfermeroServlet</servlet-name>
    <url-pattern>/asignar_paciente</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>asignacionEnfermeroPacienteServlet</display-name>
    <servlet-name>asignacionEnfermeroPacienteServlet</servlet-name>
    <servlet-class>enfermerosServlet.asignacionEnfermeroPacienteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>asignacionEnfermeroPacienteServlet</servlet-name>
    <url-pattern>/asignar_enfermero_paciente</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EliminarAsignacionEnfermeroPacienteServlet</display-name>
    <servlet-name>EliminarAsignacionEnfermeroPacienteServlet</servlet-name>
    <servlet-class>enfermerosServlet.EliminarAsignacionEnfermeroPacienteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EliminarAsignacionEnfermeroPacienteServlet</servlet-name>
    <url-pattern>/eliminar_enfermero_paciente</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>tecnicosServlet</display-name>
    <servlet-name>tecnicosServlet</servlet-name>
    <servlet-class>tecnicosServlet.TecnicoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>tecnicosServlet</servlet-name>
    <url-pattern>/tecnicos</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>pacientesTecnicoServlet</display-name>
    <servlet-name>pacientesTecnicoServlet</servlet-name>
    <servlet-class>tecnicosServlet.pacientesTecnicoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>pacientesTecnicoServlet</servlet-name>
    <url-pattern>asignar_tecnico_paciente</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>eliminarAsignacionTecnicoPaciente</display-name>
    <servlet-name>eliminarAsignacionTecnicoPaciente</servlet-name>
    <servlet-class>tecnicosServlet.eliminarAsignacionTecnicoPaciente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>eliminarAsignacionTecnicoPaciente</servlet-name>
    <url-pattern>/eliminar_tecnico_paciente</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>asignacionTecnicoPacienteServlet</display-name>
    <servlet-name>asignacionTecnicoPacienteServlet</servlet-name>
    <servlet-class>tecnicosServlet.asignacionTecnicoPacienteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>asignacionTecnicoPacienteServlet</servlet-name>
    <url-pattern>/asignar_tecnico_paciente</url-pattern>
  </servlet-mapping>
</web-app>